* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-weight: 500;
  line-height: 24px;
}

:root {
  --text-color: #ddd;
  --bg-primary: linear-gradient(to bottom right, #000, rgba(8, 2, 34, 0.8), #000);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../images/moon-stars.svg);
  --bg-gray: #777;
  --bg-gray-100: rgba(255, 255, 255, 0.2);
  --bg-gray-200: rgba(255, 255, 255, 0.3);
  --bg-blue-200: rgb(6 182 212);
}

.light {
  --text-color: #333;
  --bg-primary: linear-gradient(to top right, rgba(13, 19, 73, 0.3), #fff, rgba(5, 13, 251, 0.3));
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(../images/sun.svg);
  --bg-gray: #bbc;
  --bg-gray-100: rgba(0, 0, 0, 0.1);
  --bg-gray-200: rgba(0, 0, 0, 0.2);
  --bg-blue-200: rgb(2 132 199);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  display: none;
}

/* Track */
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: var(--stroke-color);
  border-radius: 10px;
} */

body {
  height: 100vh;
  background: var(--bg-primary)
}

body * {
  /* font-family: "Inter", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text-color);
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}



header {
  display: flex;
  align-items: center;
}

header .switch-option {
  margin-left: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  ;
}

.subtitle {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
}

/* profile */
#profile {
  text-align: center;
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

#profile img {
  width: 80px;
  border-radius: 100%;
  border: #ccc 1px solid;
}

#about {
  /* margin-top: 20px; */
}

#about .about-box {
  display: grid;
  grid-template-columns: calc(60% - 30px) calc(40%);
  gap: 30px
}

@media(max-width:768px) {
  #about .about-box {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
}

#about .about-box .content {
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  padding: 20px;
  border-radius: 20px;
  list-style: none;
}

#about .about-box .content ion-icon {
  color: green;
}

#about .about-box .content>li {}

#about .about-box .content>li .subcontent {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 13px;
}

#about .about-box .content>li .subcontent li {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#about .about-box .contact {
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

/* switch */
#switch-theme {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch-theme button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

.light #switch-theme button {
  animation: slide-in 0.2s forwards;
}

#switch-theme button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch-theme span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

main {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.skill-container .skill-title {
  font-weight: bold;
  border-bottom: 1px solid var(--stroke-color);
  padding-bottom: 5px;
  margin: 15px 0 10px 0;
  text-transform: uppercase;
}

.skill-container .skill-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px
}

.skill-container .skill-list .skill-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: rgba(13, 1, 1, 0.2);
  padding: 10px;
}

.skill-container .skill-list .skill-box .skill-level-list {
  margin-left: auto;
  display: flex;
  gap: 3px;
  align-items: center;
}

.skill-container .skill-list .skill-box .skill-level-list .skill-level-box {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: var(--bg-gray-200);
  border-radius: 0;
}

.skill-container .skill-list .skill-box:hover .skill-level-list .skill-level-box {
  border-radius: 100%;
}

.skill-container .skill-list .skill-box .skill-level-list .skill-level-box.active {
  background-color: var(--bg-blue-200);
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-box {
  background-color: rgba(13, 1, 1, 0.2);
  padding: 20px;
}

.experience-box .header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--stroke-color);
}

.experience-box .company-name {
  text-transform: uppercase;
  font-weight: bold;
}

.experience-box .activity-section {
  font-weight: bold;
}

.experience-box .items {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.experience-box .items .sub-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-box .company-reponsabilities {
  list-style: disc;
  margin-left: 20px;
}

.experience-box .company-address {
  font-size: 14px;
  font-style: italic;
}

.experience-box .sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  font-size: 15px;
}

.experience-box .sections div:last-child {
  grid-column: span 3 / span 3;
}

.experience-box .sections .time {
  display: flex;
  gap: 2px;
  align-items: center;
}

.experience-box .sections .occupation {
  font-size: 17px;
  text-transform: uppercase;
}

.experience-box .sections .responsability-items {
  /* font-size: 13px; */
}

.experience-box .company-skill-list li {
  display: inline-block;
  background-color: var(--bg-gray-100);
  padding: 0 8px;
  margin: 2px 0 2px 0;
  border-radius: 5px;
  font-size: 12px;
}

/* links */
ul.ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul.ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector */
ul.ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

main .project-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@media(max-width:991px) {
  main .project-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .skill-container .skill-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .experience-box .sections {
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
  }

  .experience-box .sections div:last-child {
    grid-column: span 3 / span 3;
  }
}

@media(max-width:767px) {
  main .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:575px) {
  main .project-list {
    grid-template-columns: 100%;
  }

  .skill-container .skill-list {
    grid-template-columns: 100%;
  }

}

main .project-list>li {
  background-color: var(--bg-gray-100);
  border-radius: 10px;
}

main .project-list .img-box {
  text-align: center;
  background-color: var(--bg-gray-200);
  border-radius: 10px 10px 0 0;
  padding: 5px;
  margin-bottom: 5px;
}

main .project-list img {
  width: 100%;
}

main .project-list .content-box {
  padding: 5px;
}

main .project-list li ul.techs {
  list-style: none;
}

main .project-list .techs li {
  display: inline-block;
  font-size: 11px;
  background-color: var(--bg-gray);
  padding: 0 5px;
  border-radius: 5px;
}

main .project-list li .date {
  /* margin: 10px 0; */
  font-size: 12px;
  display: flex;
  gap: 2px;
  align-items: center;
}

footer {
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media(max-width:575px) {
  footer {
    flex-direction: column;
    gap: 0;
  }

  .copyright {
    order: 2;
  }
}

/* social links */
#social-links {
  /* margin-left: auto; */
  display: flex;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}